* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat";
  transition: 0.3s;
  color: rgb(0, 0, 80);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  max-width: 768px;
  width: 100%;
  z-index: 2;
  background-color: rgb(120, 160, 240);
  transform: translateY(-245px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.header_move {
  transform: translateY(0);
}

.menu_header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.menu_button {
  font-size: 32px;
  width: 100%;
  height: 64px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline rgb(0, 0, 80) 2px;
  color: rgb(0, 0, 80);
}

.menu_button:hover {
  text-decoration: underline rgb(200, 200, 240) 2px;
  color: rgb(200, 200, 240);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 0;
  height: 240px;
  background-color: rgb(120, 160, 240);
}

.menu_item {
  font-weight: 600;
  font-size: 24px;
  padding: 10px 0;
}

main {
  max-width: 1200px;
  background-color: rgb(160, 200, 240);
  box-shadow: 0 0 100px 0 rgb(100, 100, 200);
  padding: 0 40px;
}

.part {
  padding: 84px 0;
}

.chapter {
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 24px;
}

.title {
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 24px;
  text-decoration: underline rgb(0, 0, 80);
}

.list {
  padding-bottom: 20px;
}

.term {
  padding-bottom: 20px;
}

.list_last {
  padding-bottom: 0;
}

.term_last {
  padding-bottom: 0;
}

.subtitle {
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline rgb(0, 0, 80);
}

li {
  padding: 5px 0;
  font-size: 20px;
  font-weight: 400;
}

.group {
  padding-left: 32px;
}

.text {
  padding: 5px 0;
  font-size: 20px;
  font-weight: 400;
}

span {
  font-weight: 600;
  font-size: 22px;
}

hr {
  width: 100%;
  height: 5px;
  background-color: rgb(0, 0, 80);
  border: none;
}

.footer {
  width: 100%;
  background-color: rgb(120, 160, 240);
}

.footer_text {
  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 20px;
}

.menu_item,
.footer_link {
  text-decoration: underline rgb(0, 0, 80);
  color: rgb(0, 0, 80);
}

.menu_item:hover,
.footer_link:hover {
  text-decoration: underline rgb(200, 200, 240);
  color: rgb(200, 200, 240);
}

li::marker {
  font-weight: 600;
}
